<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd" default-lazy-init="true"
	default-autowire="byName">

	<bean id="dataScheduler" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="userSynchronizeTrigger" />
			</list>
		</property>
	</bean>

	<bean id="userSynchronizeJob" class="com.ch.framework.system.user.quartz.UserSynchronizeJob" />

	<bean id="invokeJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="userSynchronizeJob" />
		</property>
		<property name="targetMethod">
			<value>run</value>
		</property>
	</bean>

	<bean id="userSynchronizeTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="invokeJob" />
		</property>
		<property name="cronExpression">
			<value>0 0 0/4 * * ?</value>
		</property>
	</bean>

</beans> 
